---
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.svelte";
import Card from "../components/Card.astro";
const allPosts = await Astro.glob("./posts/*.md");
allPosts.sort(
  (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date)
);
let oddPosts: typeof allPosts = [];
let evenPosts: typeof allPosts = [];
allPosts.forEach((post, index) => {
  if (index % 2 === 0) {
    evenPosts.push(post);
  } else {
    oddPosts.push(post);
  }
});

import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Holland Sersen</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body
    class="w-max-screen flex w-screen flex-col align-middle font-sans dark:bg-black"
  >
    <Nav client:only />
    <div
      class="mx-auto flex max-w-7xl flex-col items-center justify-center p-4 align-middle lg:flex-row"
    >
      <div class="align-center mx-auto max-w-4xl p-4">
        <h1 class="">Hello, I'm Holland.</h1>
        <h2 class="">Audio Programmer</h2>
        <p class="mt-2">
          I am an audio programmer, born and raised in Chicago.
        </p>
        <div class="block lg:hidden">
          <img class="w-full" alt="Holland Sersen" src="/me2.jpeg" />
        </div>
        <div class="mt-4 flex w-full gap-x-4">
          <a
            href="/"
            class="flex w-1/2 justify-center gap-1 border-4 border-black bg-black p-2 text-white hover:opacity-50 dark:border-white dark:bg-white dark:text-black"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-file-description"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M14 3v4a1 1 0 0 0 1 1h4"></path>
              <path
                d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z"
              ></path>
              <path d="M9 17h6"></path>
              <path d="M9 13h6"></path>
            </svg>Resume</a
          >
          <a
            href="https://www.linkedin.com/in/holland-sersen-500716221/"
            class="flex w-1/2 justify-center gap-1 border-4 border-black bg-black p-2 text-white hover:opacity-50 dark:border-white dark:bg-white dark:text-black"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-brand-linkedin"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
              ></path>
              <path d="M8 11l0 5"></path>
              <path d="M8 8l0 .01"></path>
              <path d="M12 16l0 -5"></path>
              <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
            </svg>Linkedin</a
          >
        </div>
      </div>
      <div class="mx-auto hidden w-full max-w-4xl p-4 lg:block">
        <img class="mt-4 w-full" alt="Holland Sersen" src="/me2.jpeg" />
      </div>
    </div>
    <div
      class="mx-auto grid h-full w-full max-w-7xl grid-cols-2 gap-4 p-8 lg:p-4"
    >
      <div class="columns-1">
        {
          evenPosts.map((post) => (
            <Card
              title={post.frontmatter.title}
              subTitle={post.frontmatter.subTitle}
              desc={post.frontmatter.desc}
              date={post.frontmatter.date}
              link={post.url}
              imgLink={post.frontmatter.image.url}
              imgAlt={post.frontmatter.image.alt}
            />
          ))
        }
      </div>
      <div class="columns-1">
        {
          oddPosts.map((post) => (
            <Card
              title={post.frontmatter.title}
              subTitle={post.frontmatter.subTitle}
              desc={post.frontmatter.desc}
              date={post.frontmatter.date}
              link={post.url}
              imgLink={post.frontmatter.image.url}
              imgAlt={post.frontmatter.image.alt}
            />
          ))
        }
      </div>
    </div>
    <Footer />
  </body>
</html>
