---
import dayjs from "dayjs";
import relativeTime from "dayjs/plugin/relativeTime";
const { title } = Astro.props;
const { subTitle } = Astro.props;
const { desc } = Astro.props;
const { date } = Astro.props;
const { link } = Astro.props;
const { imgLink } = Astro.props;
const { imgAlt } = Astro.props;
const dateFormat = dayjs(date).format("MMMM YYYY");
---

<a class="group mx-2 my-1 p-2" href={link}>
  <img class="h-auto rounded-xl" alt={imgAlt} src={imgLink} />
  <p class="h-fit w-full">
    <span class="duration-200 ease-in-out group-hover:text-red-500">
      {title}
    </span>
    <br class="block lg:hidden" />
    <span class="opacity-50 duration-200 ease-in-out group-hover:opacity-100">
      {dateFormat}
    </span>
  </p>
</a>
